*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    color: #3e3e3e;
    background-color: #fff;
    line-height: 1.7em;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
p,span,li,a{
    font-family: 'Roboto', sans-serif;
    color: #5c5c5c;
}
.section {padding: 60px 0;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*====navbar=====*/
.navbar-brand {
    width: 30%;
}
.navbar-brand img{
    width: 30%;
}
.custom-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #f4ffff;
    z-index: 999;
}
.navbar-extended {
    transition: 0.3s ease-in-out;
    background-color: transparent !important;
}
.custom-nav .navbar-collapse {
    justify-content: end;
}
.nav-link {
    color: rgb(47, 46, 46);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}
.btn-same-all {
    background: #b62c4e;
    border: 1px solid transparent;
    color: #fff;
    padding: 12px 30px !important;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.btn-same-all:hover {
    border: 1px solid #b62c4e;
    background: transparent;
    color: #b62c4e;
}

/*-----------PAge start
--------------------*/
.banner-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text h1 {
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 60px;
    position: relative;
}
.banner-text h1:after {
    position: absolute;
    content: '';
    width: 60%;
    height: 1px;
    background: #b62c4e;
    bottom: -25px;
    left: 22%;
    margin: auto;
}
.banner-p{
    font-size: 30px;
    font-weight: 400;
}
.heding-sm-all{
    margin-bottom: 40px;
    text-align: center;
}
.heding-sm-all p {
    width: 50%;
    margin: auto;
}
.heding-sm-all h2 {
    font-size: 45px;
}
.construction {
    display: flex;
}
.construction p {
    background: #ffffff;
    font-size: 10px;
    padding: 1px 3px;
    line-height: 2;
    border-radius: 3px;
    color: #000;
    margin-bottom: 4px;
}
.proparty-dtls {
    padding-bottom: 20px;
}
.name-a {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 24px;
}
.construction p:last-child {
    margin-left: 5px;
}
.featured-img {
    text-decoration: none;
    position: relative;
}
.featured-img img{
    border-radius: 10px;
}
.text-featrd {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 10;
}
.text-featrd h6 {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
}
.lst-text {
    color: #fff;
}
.lst-text span{
    font-size: 12px;
    color: #fff;
}
.mr-for-col-4 .col-md-4{
    margin-bottom: 20px;
}
.project-section-all {
    padding: 60px 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: 0.3s ease-in-out;
}
.project-section-all .main-icon {
    font-size: 80px;
    margin-bottom: 40px;
    display: block;
    color: #b62c4e;
}
.project-section-all h6 {
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
}
.project-section-all h6:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 99%;
    background-color: #b62c4e;
    right: -29px;
    bottom: -29px;
}
.read-more {
    padding: 10px 15px;
    border: 1px solid #ccc;
    text-transform: capitalize;
    text-decoration: none;
    color: #000 !important;
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.read-more:hover {
    background: #ccc;
}
.lft-txt p{
    width: 100%;
}
.lft-txt a{
    display: inline-block;
}
.lft-txt {
    text-align: left;
}
.real-estate-section {
    background: #fffdee;
}
.testimonial-section {
    position: relative;
    display: block;
    background: #F7F5F1;
    padding: 100px 0 0px;
    z-index: 1;
}
.testimonial-one-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 46%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: luminosity;
    opacity: 0.12;
    z-index: -1;
}
.testimonial-box {
    position: relative;
    display: block;
    margin-top: 40px;
}
.testimonial-content {
    position: relative;
    display: block;
    background-color: #ffffff;
    padding: 55px 50px 45px;
    border: 2px solid transparent;
    transition: all 500ms ease;
    min-height: 330px;
    border-radius: 10px;
}
.google-reating {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #ffe344;
    font-size: 18px;
}
.under-shape {
    position: absolute;
    bottom: -10px;
    left: 60px;
    height: 10px;
    width: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.quote-box {
    position: absolute;
    top: -34px;
    left: 50px;
    height: 67px;
    width: 67px;
    background: #fff;
    color: rgb(182 44 78);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
    font-size: 25px;
}
.testimonial-client {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 47px;
}
.client-image {
    position: relative;
    display: block;
    width: 77px;
}
.client-image img {
    border-radius: 50%;
}
.client-content {
    padding-left: 15px;
}
/* .owl-nav {
    position: absolute;
    top: 78%;
    height: 48px;
    width: 123px;
    left: 0;
    z-index: 9;
} */
.testimonial-section .owl-nav .owl-prev .bi {
    background: #fff !important;
    border-radius: 50%;
    line-height: 42px;
    width: 42px;
    height: 42px;
    display: inline-block;
    color: #ccc !important;
    font-size: 22px !important;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
}
.testimonial-section .owl-nav .owl-next .bi {
    background: #fff !important;
    border-radius: 50%;
    line-height: 42px;
    width: 42px;
    height: 42px;
    display: inline-block;
    color: #ccc !important;
    font-size: 22px !important;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
}
.why-content img {
    width: 70px;
    height: 50px;
}
.why-content {
    text-align: center;
    height: 200px;
    background: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.why-content h5 {
    margin-top: 20px;
    margin-bottom: 0;
}
.why-content p {
    text-transform: uppercase;
}
.border-right{
    border-right: 1px solid #ccc;
}
.border-left{
    border-left: 1px solid #ccc;
}
.border-bottom{
    border-bottom: 1px solid #ccc;
}
.border-top{
    border-top: 1px solid #ccc;
}
.mr-auto{
    margin: auto;
}





.footer-section {
    background-color: #003056;
    padding: 40px 20px;
}
.footer-section .footer-company-dtls img {
    width: 100px;
    filter: brightness(0) invert(1);
}
.footer-section .footer-company-dtls p {
    margin-top: 20px;
    color: #fff;
}
.footer-section .footer-company-dtls ul {
    padding-left: 0;
    display: flex;
}
.footer-section .footer-company-dtls ul li {
    list-style: none;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 70%;
    background: #0d2f4a;
    line-height: 50px;
    text-align: center;
}
.footer-section .footer-company-dtls ul li a {
    color: #fff;
}
.footer-section .links-all h6 {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 30px;
}
.footer-section .links-all ul {
    padding-left: 0;
}
.footer-section .links-all ul li {
    list-style: none;
    line-height: 2;
    color: #fff;
}
.footer-section .links-all ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-section .links-all ul li i {
    margin-right: 10px;
}
.social-icon {
    position: fixed;
    bottom: 0;
    z-index: 9;
    right: 20px;
    padding: 0;
}
.social-icon li{
    list-style: none;
}
.social-icon li {
    list-style: none;
    width: 45px;
    height: 45px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.social-icon li:hover {
    width: 43px;
    height: 43px;
}
.social-icon li a i{
    color: #fff;
}
.social-icon li:nth-child(1) {
    background-image: linear-gradient(to right bottom, #ffbc0f, #ffa408, #ff8b11, #fd711d, #f75628, #f54335, #f12d40, #eb0b4b, #e8005b, #e3006b, #db007a, #d00589);
}
.social-icon li:nth-child(2) {
    background-color: rgb(47 9 131);
}
.social-icon li:nth-child(3) {
    background-color: rgb(2 163 2);
}

.video-youtube {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%; /* 9 / 16 * 100 */
  }
  .video-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
  }
.cover_bg_project::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(2 0 36 / 38%) 0%, rgba(0,212,255,0) 70%);
    z-index: 9;
    border-radius: 10px;
}
.outer { 
    margin:0 auto; 
}
/* #big .item { 
    background: #ec6e46; 
    padding: 120px 0px;
    margin:2px; 
    color: #FFF; 
    border-radius: 3px; 
    text-align: center; 
} */
#thumbs .item { 
    background: #C9C9C9; 
    line-height:70px; 
    padding: 0px; 
    margin:2px; 
    color: #FFF; 
    border-radius: 3px; 
    text-align: center; 
    cursor: pointer; 
}
#thumbs .item h1 { font-size: 18px; }
#thumbs .current .item { 
    background:#FF5722; 
}
.owl-theme .owl-nav [class*='owl-'] { 
    -webkit-transition: all .3s ease; 
    transition: all .3s ease; 
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover { 
    background-color: #D6D6D6; 
}
#big.owl-theme { 
    position: relative; 
}
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { 
    font-size: 50px;
    width: 22px; 
    line-height:40px; 
    height: 40px; 
    margin-top: -20px; 
    position: absolute; 
    text-align:center; 
    top: 50%; 
}
.owl-next span{ 
    color: #000;
}
.owl-prev span{ 
    color: #000;
}
#big.owl-theme .owl-prev { 
    left: 10px; 
}
#big.owl-theme .owl-next {
     right: 10px; 
    }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { 
    background:#333; 
}
.details-section.section {
    margin-top: 50px;
}
.left-text {
    text-align: left !important;
}
.flx-btn-grup a {
    background: #b62c4e;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 2px;
}
.flx-btn-grup a:not(:first-child) {
    margin-left: 5px;
    background-color: #4b4b4b;
}
.building-location-text {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.building-location-text p {
    width: unset;
    margin: unset;
}
.building-location-text p {
    margin-left: 10px !important;
}
.building-location-text i {
    color: rgb(255, 202, 28);
}
.over-view {
    padding: 20px;
    border-bottom: 1px solid #b62c4e;
}
.over-view h6{
    font-size: 25px;
}
.over-view-box {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.overview-dtls {
    text-align: center;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    overflow: hidden;
}
.overview-dtls:before {
    position: absolute;
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50px;
    left: -40px;
    background: #ffe058;
    z-index: 0;
    top: -16px;
    border-radius: 100%;
}
.overview-dtls p {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    z-index: 9;
}
.overview-dtls span {
    font-weight: 300;
    font-size: 14px;
    z-index: 9;
}
.g-map {
    padding: 20px;
}
.g-map iframe{
    width: 100%;
}
.location-cntnt p {
    font-weight: 600;
    color: #b62c4e;
    margin-bottom: 0;
}
.location-cntnt a {
    text-decoration: none;
    font-size: 12px;
    background: #ffe058;
    padding: 3px 5px;
    color: #000;
    border-radius: 10px;
}
.time-distance i {
    font-size: 18px;
    color: red;
}
.time-distance span {
    font-size: 12px;
}
.location-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.location-name:not(:last-child){
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.propart-img {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    padding: 20px;
}
.proparty-dtls h6 {
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #b62c4e;
    padding-bottom: 20px;
}
.proparty-dtls p {
    padding-left: 20px;
}
.proparty-dtls img{
    width: 30%;
    padding-left: 20px;
}
.mt-cstm{
    margin-top: 20px;
    background-color: #fff5f8;
}
.propart-text {
    padding: 20px;
}
.finance-img {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.prpty-cumnt {
    padding: 20px;
}
.all-dcmnt {
    display: flex;
    justify-content: space-between;
}
.all-dcmnt:not(:last-child) {
    margin-bottom: 15px;
}
.dcmnt i {
    color: #b62c4e;
    margin-right: 5px;
    font-size: 18px;
}
.all-dcmnt a {
    font-weight: 600;
    text-decoration: none;
    color: #b62c4e;
}
.master-pln {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.master-pln:not(:last-child) {
    padding-bottom: unset !important;
}
.master-pln img{
    width: 32%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.overlay {
    padding: 10px;
}
/* .cent {
    padding-right: 0;
    padding-left: 10px;
    padding-bottom: 20px;
} */
.menu_iso {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.menu_iso li {
    list-style: none;
    margin-right: 10px;
    cursor: pointer;
}
.menu_iso a {
    color: #b62c4e;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
}

.is-checked {
    background-color: #b62c4e;
    color: #fff !important;
}
.features-points ul {
    padding-left: 0;
}
.features-points ul li{
    list-style: none;
    margin-bottom: 10px;
}
.features-points ul li img{
    width: 30px;
    margin-right: 10px;
}
.features-points {
    padding: 20px;
    color: #000;
    font-weight: 500;
}
.stiky-form {
    background: #fff5f8;
    padding: 20px;
    border-radius: 5px;
    display: block;
    position: sticky;
    top: 100px;
}
.stiky-form h6 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.stiky-form label {
    font-weight: 500;
}
.stiky-form input,textarea {
    background: #fff5f8;
    border: 1px solid #b62c4e;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}
.stiky-form input:focus{
    outline: unset;
    box-shadow: none;
    background: transparent;
}
.stiky-form textarea {
    background: transparent;
    border: 1px solid #b62c4e;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
.stiky-form textarea:focus{
    outline: unset;
    box-shadow: none;
    background: transparent;
}
.over-view-banner {
    text-align: center;
}
.over-view-banner h6 {
    font-size: 25px;
    padding-top: 25px;
}



@media only screen and (max-width: 767px) {
    p,span,li,a{
        font-size: 14px;
    }
    .navbar-brand {
        width: 80%;
    }
    .navbar-extended {
        background-color: #f4ffff !important;
    }
    .banner-text h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .banner-p {
        font-size: 22px;
        font-weight: 400;
    }
    .banner-text h1:after {
        width: 65%;
        bottom: -11px;
        left: 18%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px;
    }
    .btn-same-all {
        padding: 7px 15px !important;
        border-radius: 3px;
        display: inline-block;
    }
    .section {
        padding: 20px 0;
    }
    .heding-sm-all h2 {
        font-size: 30px;
    }
    .heding-sm-all {
        margin-bottom: 15px;
    }
    .heding-sm-all p {
        width: 100%;
        line-height: 22px;
    }
    .project-section-all {
        padding: 20px;
        margin-bottom: 20px;
    }
    .project-section-all .main-icon {
        font-size: 40px;
        margin-bottom: 8px;
    }
    .project-section-all h6 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .project-section-all h6:after {
        width: 90%;
        right: -20px;
        bottom: -11px;
    }
    .video-youtube iframe {
        width: 100%;
    }
    .border-right {
        border-bottom: 1px solid #ccc;
        border-right: none;
    }
    .border-bottom {
        border-bottom: none;
    }
    .testimonial-one-bg {
        width: 100%;
    }
    .social-icon li{
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
    .social-icon li i{
        font-size: 12px;
    }
    .social-icon {
        right: 15px;
    }
    .navbar-toggler:focus{
        box-shadow: unset;
    }
    .over-view {
        padding: 10px 0 5px;
    }
    .over-view h6{
        margin-bottom: 0;
    }
    .menu_iso a {
        font-size: 10px;
        padding: 7px;
    }
}